
html {
    background-size: cover;
    background: skyblue url("../img/nordic-flags-soren-sigfusson.jpg") no-repeat fixed center center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    width: 100%;
}

label {
    margin: 0px auto;
}

img {
    height: 300px;
    width: 300px;
}





